@model WEB.Models.LoginViewModel

@{
    ViewBag.Title = "Admin Login";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewBag.Title</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("AdminLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="text-center mb-4">Use your admin credentials to log in</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group row mb-3">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-form-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="offset-md-3 col-md-9">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-md-3 col-md-9">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 